<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<nav class="navbar navbar-inverse" th:fragment="after-login">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">TN BankApp.</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Customer Accounts</a></li>
            <li><a href="/withdrawal/transactions">Withdrawals</a></li>
            <li><a href="/deposit/transactions">Deposits</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span th:text="${currentUser.username}" /></a></li>
            <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>


<!-- Bootstrap core JavaScript -->
<script src="jquery/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
